<a href="https://colab.research.google.com/github/ajrianop/Estadistica_Descriptiva_y_Python_UD2023-3/blob/main/Clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Clase 1**

Se escriben dos tipos de datos como lo son las tuplas y listas. Y se implementa el uso de loops utilizando `for` para construir una sumatoria $\sum\limits_{i=1}^{100}i$.

**Sumatorias:**

$∑\limits_{i=0}^{n}a_i$

Implementaremos lenguaje python en el código:

In [ ]:
# Variables
# Algunos tipos de datos en Python:

# tuplas
a = (1, 2, 3, 4, 5, 6)

In [ ]:
print(a)

(1, 2, 3, 4, 5, 6)

In [ ]:
# a['posición']
a[0]

1

In [ ]:
print(a[0])
print(a[3])

1
4

Tarea: buscar funciones o métoos básica de python.

In [ ]:
range(6)

range(0, 6)

In [ ]:
for n in range(6):
  print(n)

0
1
2
3
4
5

In [ ]:
b = tuple()
b

()

In [ ]:
# Listas
l = [1, 2, 3, 4, 5, 6]
l

[1, 2, 3, 4, 5, 6]

In [ ]:
m = list()
m

[]

In [ ]:
m

[]

In [ ]:
m.append("Hola")
m

['Hola']

In [ ]:
m

['Hola']

In [ ]:
m.append(2)
m

['Hola', 2]

In [ ]:
m.append('info')

In [ ]:
m

['Hola', 2, 'info']

In [ ]:
for i in m:
  print(i)

Hola
2
info

In [ ]:
l = [3, 'no', True]

In [ ]:
l

[3, 'no', True]

In [ ]:
for i in range(len(l)):
  print(m[i] , l[i])

Hola 3
2 no
info True

In [ ]:
for i , j in zip(m,l):
  print(i,j)

Hola 3
2 no
info True

Sumatorias:

In [3]:
count = 0
sum_l = ''
for i in range(1 , 21):
  if i == 1:
    sum_l = str(i)
    count = count + i
    print(f'{sum_l} = {count}')
  else:
    #print(i)
    sum_l = sum_l + '+' +str(i)
    count = count + i
    print(f'{sum_l} = {count}')

print(f'El resultado final de sumar todos los números enteros desde el 1 hasta el 20 es : {count}')

1 = 1
1+2 = 3
1+2+3 = 6
1+2+3+4 = 10
1+2+3+4+5 = 15
1+2+3+4+5+6 = 21
1+2+3+4+5+6+7 = 28
1+2+3+4+5+6+7+8 = 36
1+2+3+4+5+6+7+8+9 = 45
1+2+3+4+5+6+7+8+9+10 = 55
1+2+3+4+5+6+7+8+9+10+11 = 66
1+2+3+4+5+6+7+8+9+10+11+12 = 78
1+2+3+4+5+6+7+8+9+10+11+12+13 = 91
1+2+3+4+5+6+7+8+9+10+11+12+13+14 = 105
1+2+3+4+5+6+7+8+9+10+11+12+13+14+15 = 120
1+2+3+4+5+6+7+8+9+10+11+12+13+14+15+16 = 136
1+2+3+4+5+6+7+8+9+10+11+12+13+14+15+16+17 = 153
1+2+3+4+5+6+7+8+9+10+11+12+13+14+15+16+17+18 = 171
1+2+3+4+5+6+7+8+9+10+11+12+13+14+15+16+17+18+19 = 190
1+2+3+4+5+6+7+8+9+10+11+12+13+14+15+16+17+18+19+20 = 210
El resultado final de sumar todos los números enteros desde el 1 hasta el 20 es : 210

In [ ]:
count = 0
for i in range(1, 101):
  count = count + i
count

5050